.footer {
  background: #141414;
  display: flex;
  justify-content: center;

  &__copyright {
    color: #ffff;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 157px;
    padding-bottom: 26px;
    margin: 0;
  }
}
